<!DOCTYPE html>
<html>

<head>
<title>About</title>
<link rel="icon" href="/img/weather.png">
<link rel="stylesheet" href="/css/styles.css">

</head>

<body>

  <div class="main-content">
 {{>header}}
<p> My name is {{name}}. I am a Software Engineer who was raised in New Jersey. I am 25 years old who loves to code for a living.</p>
<p>Thank you for visiting my website! Come back anytime to check your daily weather.</p>

 </div>


{{>footer}}
</body>



</html>