<!DOCTYPE html>
<html>

<head>
<title>Help</title>
<link rel="icon" href="/img/weather.png">
<link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    
<div class="main-content">

 {{>header}}
<p>Page is still in progress of being updated... Come back another time.</p>
</div>

{{>footer}}
</body>



</html>